{%  extends 'email/base.html.twig' %}

{% block content %}
    <p class="text-start">Pour profiter dès maintenant de featflip, veuillez confirmer votre e-mail :</p>
    <br>
    <center><a class="btn btn-primary">Je confirme mon email</a></center>
{% endblock %}
