{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <h2 class="heading heading--2">Welcome,</h2>

    <h3 class="heading heading--3">Your organizations</h3>
    <div class="card card--primary">Pe</div>
    <div class="card card--primary">Id</div>
    <div class="card card--secondary">+</div>

    <h3 class="heading heading--3">Your milestones</h3>
    <div class="milestone">
        <div class="milestone__date"></div>
        <div class="milestone__title"></div>
        <div class="milestone__subtitle"></div>
    </div>
    <div class="milestone">
        <div class="milestone__date"></div>
        <div class="milestone__title"></div>
        <div class="milestone__subtitle"></div>
    </div>
{% endblock %}
